.page-header {
  padding-top: 20px;
  background: url(../../img/header-bg.png) center bottom no-repeat;
  min-height: 380px;
}

.page-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__call {
  margin-top: 7px;
  position: relative;
  color: #f5112c;
}

.contacts__call::after {
  width: 119px;
  height: 2px;
  background-color: #f5112c;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  opacity: .5;
}