.promo {
  text-align: center;
  margin-bottom: 70px;
}

.title {
  font-family: Gilroy Bold, Helvetica, sans-serif;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
  text-align: center;
}

.dash {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 64px;
  height: 7px;
  background-color: #f5112c;
}

.promo__text {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 12px;
}

.button {
  width: 290px;
  height: 62px;
  border-radius: 31px;
  border-width: 0;
  color: #fff;
  font-family: Gilroy Bold, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .05em;
  background-color: #f5112c;
  box-shadow: 0 10px 18px rgba(246, 27, 60, 0.55);
  transition: .3s all ease-in-out;
}

.button:hover {
  transition: .3s all ease-in-out;
}