html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  h1, h2, h3, p {
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: $font;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: .05em;
    color: $font-color;
    background-color: $white;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    color: $font-color;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
